html


h1 {
  color: pink;
}


.btn {
  border: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #FFF;
}

.btn a:hover {
  background-color: #ffcce6;
}
.brand {
  text-align: left;
}
@media {

}
