html

/*Nav*/
.navbar {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.btn {
  border: 0;
  font-family: 'Luckiest Guy', cursive;
  font-size-adjust: auto;
  font-stretch: extra-expanded;
  font-size: 20px;
  background-color: #FFF;
}

nav.button {
  float: right;
}

.btn a:hover {
  color: #489BFF;
  background-color: #F7C1C1;
}

.navbar-brand {
  float: left;
}

.nav-item {
  padding: 10px 30px 10px 30px;
}

.column {
  width: 50%;
  padding: 70px;
}

.story {
  text-align: center;
  font-family: 'Vidaloka', serif;
  font-size:20px;
}

h4 {
  font-size: 12px;
}

.parallax1 {
  /* The image used */
  background-image: url("img/shakes.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("img/gacookie.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url("img/cake.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#icetext {
  color: #FFFFFF;
  background: #F7C1C1;
  text-shadow: 4px 3px 0px #7A7A7A;
  color: #FFFFFF;
  text-align: center;
  font-size: 60px;
  background: #F7C1C1;
  font-family: 'Fredoka One', cursive;
}



.fla {
  font-family: 'Gochi Hand', cursive;
  font-size: 35px;
}

p {
  font-family: 'Roboto', sans-serif;
}

ul {
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
}

.stack {
  padding: 30px;
}
/*Style for cookie/cake page*/
.yellow {
  background-color: #F3F2BB;
  border-radius: 1px;
  border: solid;
  border-color: #EBE97F;
}

.blue {
  background-color: #CCDEF6;
  border-radius: 1px;
  border: solid;
  border-color: #A1C6F1;
}

.pink {
  background-color: #F2D3EF;
  border-radius: 1px;
  border: solid;
  border-color: #F7A7F0;
}

.orange {
  background-color: #EEC5A4;
  border-radius: 1px;
  border: solid;
  border-color: #EAA46B;
}

.red {
  background-color: #F2B5AD;
  border-radius: 1px;
  border: solid;
  border-color: #F09488;
}

.purple {
  background-color: #D8CBFF;
  border-radius: 1px;
  border: solid;
  border-color: #C3AFFF;
}

.green {
  background-color: #CCEFCD;
  border-radius: 1px;
  border: solid;
  border-color: #8BEC8E;
}
.left {
  border-left: 12px solid pink;
}

ul.location {
  list-style-type: circle;
}
.cake {
  background-color: pink;
}

.alltruck {
  text-align: center
}


/*faq title*/
#faqtext {
  color: #000000;
  background: #FFFFFF;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  color: #000000;
  background: #FFFFFF;
  text-align: center;
  font-size: 60px;
}
/*for list of faqs on faq page*/
#accordion p {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: #46E4E4;
}

#accordion {
  text-align: center;
}

#accordion .q {
  font-family: 'Bebas Neue', cursive;
  color: #36CFCF;
}

#accordion h6 {
  font-family: 'Mukta', sans-serif;
  color: #DF36B4;
  font-size: 18px;
  font-weight: bold;
}

/*field box on faq page*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #c9e9f6;
  color: #2ab4ec;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hide-replaced.ws-inputreplace {
  display: none !important;
}

.input-picker .picker-list td>button.othermonth {
  color: #888888;
  background: #fff;
}

.ws-inline-picker.ws-size-2, .ws-inline-picker.ws-size-4 {
  width: 100%;
}

.ws-size-4 .ws-index-0, .ws-size-4 .ws-index-1 {
  border-bottom: 0.07692em solid #eee;
  padding-bottom: 1em;
  margin-bottom: 0.5em;
}

.picker-list.ws-index-2, .picker-list.ws-index-3 {
  margin-top: 3.5em;
}

div.ws-invalid input {
  border-color: #c88;
}

.ws-invalid label {
  color: #933;
}

div.ws-success input {
  border-color: #8c8;
}

form {
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
}

#calendar {
  width: 100%;
  margin:0px;
}

.form-row {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  display: block;
  margin: 3px 0;
}

.form-row input {
  width: 220px;
  padding: 3px 1px;
  border: 1px solid #ccc;
  box-shadow: none;
}

.form-row input[type="checkbox"] {
  width: 15px;
}

.date-display {
  display: inline-block;
  min-width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  min-height: 1em;
}

.show-inputbtns .input-buttons {
  display: inline-block;
}

.f {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-md-6 {
  padding: 20px 40px 20px 40px;
}

.stack2 {
  padding: 30px 40px 30px 40px;

}
.blue2 {
  padding: 30px 80px 30px 20px;
}

/*End of Website*/
@media {}
